pipeline/PL_Dynamic_Copy_DataFlow.json
{
	"name": "PL_Dynamic_Copy_DataFlow",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Table_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"TableName": "'Test'"
									},
									"datasetParameters": {
										"source1": {
											"TableName": {
												"value": "@item().Source_Table_Name\r\n",
												"type": "Expression"
											},
											"SchemaName": {
												"value": "@item().Source_Schema_Name\r\n",
												"type": "Expression"
											}
										},
										"sink1": {
											"DestinationDirectory": {
												"value": "@item().Destination_Location\r\n",
												"type": "Expression"
											},
											"DestinationContainer": {
												"value": "filestore",
												"type": "Expression"
											},
											"DestinationFileName": {
												"value": "@item().Destination_File_Name\r\n",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine",
								"continueOnError": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}